<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Editing Playground</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
    <style>
        .art-title, .help {
            text-align: center;
        }
        canvas {
            display: block;
            margin: 0 auto;
            background-color: #ffffff15;
            border: double 1px rgb(167, 112, 18);
        }
    </style>
</head>
<body>
    {{ block "main" . }}{{ end }}
</body>
</html>