{{ define "main" }}
    <h1 class="art-title">"{{.Title}}"</h1>

    <canvas id="art" 
            width="500" 
            height="500" style="background-color: '{{.Params.background_color}}';"></canvas>
    <p class="help">👆 Draw here</p>

    <script>
        /* Script inlined here for demonstration purposes */
        const canvas = document.querySelector("#art");
        const title = document.querySelector(".art-title");
        const help = document.querySelector(".help");
        const signaturePad = new SignaturePad(canvas);

        const widths = {
            "small": [0.1, 0.5],
            "medium": [0.5, 2.5],
            "large": [2.5, 10]
        }

        const updateSpecs = (color, width, bg) => {
            signaturePad.penColor = color.toLowerCase();
            signaturePad.minWidth = width[0];
            signaturePad.maxWidth = width[1];
            canvas.style.backgroundColor = bg.toLowerCase() || "white";
        }

        try {
            let drawing = "{{.Params.art_code_block}}";
            const color = "{{.Params.color}}" || "black";
            const bg = "{{.Params.background_color}}" || "white";
            const width = widths["{{.Params.width}}".toLowerCase()] || widths["medium"];
            const existingSig = JSON.parse(drawing);
            signaturePad.fromData(existingSig);
            updateSpecs(color, width, "{{.Params.background_color}}");
        } catch(e) {}

        signaturePad.off();

        const liveEditing = (CloudCannon) => {
            console.log("Registered CloudCannon");
            CloudCannon.enableEvents();
            console.log("Enabled Events");
            help.classList.add("show");
            signaturePad.on();

            let sentAt = Date.now();

            document.addEventListener('cloudcannon:update', async function (e) {
                if (Date.now() - sentAt < 500) return;
                console.log("Got an update from CloudCannon");
                try {
                    const latestValue = await e.detail.CloudCannon.value();
                    let drawing = latestValue?.art_code_block || [];
                    const color = latestValue?.color || "black";
                    const width = widths[latestValue?.width?.toLowerCase()] || widths["medium"];
                    signaturePad.fromData(JSON.parse(drawing));
                    updateSpecs(color, width, latestValue?.background_color);
                    title.innerHTML = `${latestValue?.title}`;
                } catch(e) {}
            });

            canvas.addEventListener("mousemove", () => {
                const data = signaturePad.toData();
                CloudCannon.set('art_code_block', JSON.stringify(data));
                console.log("Sent", data);
                sentAt = Date.now();
            });
        }

        if (!window.CloudCannon) {
            document.addEventListener('cloudcannon:load', function (e) {
                liveEditing(e.detail.CloudCannon);
            });
        } else {
            liveEditing(window.CloudCannon);
        }
    </script>
{{ end }}