{{ define "main" }}
    <h1 class="art-title">"{{.Title}}"</h1>

    <canvas id="art" 
            width="500" 
            height="500" ></canvas>
    <p class="help">👆 Draw here</p>

    <script>
        /* Script inlined here for demonstration purposes */
        const canvas = document.querySelector("#art");
        const title = document.querySelector(".art-title");
        const signaturePad = new SignaturePad(canvas);

        try {
            const existingSig = JSON.parse("{{.Params.art_code_block}}");
            signaturePad.fromData(existingSig);
        } catch(e) {}

        const liveEditing = (CloudCannon) => {
            console.log("Registered CloudCannon");
            CloudCannon.enableEvents();
            console.log("Enabled Events");

            let sentAt = Date.now();

            document.addEventListener('cloudcannon:update', async function (e) {
                if (Date.now() - sentAt < 500) return;
                console.log("Got an update from CloudCannon");
                try {
                    const latestValue = await e.detail.CloudCannon.value();
                    signaturePad.fromData(JSON.parse(latestValue?.art_code_block));
                    title.innerHTML = `${latestValue?.title}`;
                } catch(e) {}
            });

            canvas.addEventListener("mousemove", () => {
                const data = signaturePad.toData();
                CloudCannon.set('art_code_block', JSON.stringify(data));
                console.log("Sent", data);
                sentAt = Date.now();
            });
        }

        if (!window.CloudCannon) {
            document.addEventListener('cloudcannon:load', function (e) {
                liveEditing(e.detail.CloudCannon);
            });
        } else {
            liveEditing(window.CloudCannon);
        }
    </script>
{{ end }}